# 暂且粗略认为这几个文件不提交。
# 可能有些东西还是要提交的，到时候再改
/.idea
/venv
# config.json
# settings.json
/__pycache__
*log.*
*log-*.*
/go-cqhttp/data/*
/go-cqhttp/logs/*
# /go-cqhttp/config.yml
# /go-cqhttp/device.json
/go-cqhttp/session.token

*temp*
*/__pycache__
*.db